
@{
    ViewData["Title"] = "Cadastro";
}

<div id="divTopo">

    <img src="../Content/mastertech.png" width="250px" alt="imagem">

</div>

<div id="divLocalPage">

    <div id="divLocalPageText">

        <h2> CADASTRO DE CLIENTE </h2>
        <p> <strong> Você está em: </strong> <i>Home</i> >> Cadastro de Cliente</p>

    </div>

</div>

<div id="divImg">

    <img src="../Content/customer.png" height="300px">


</div>

<div id="divForm">

    <form id="form">
        <div class="mb-3">
            <label>NOME</label>
            <input type="text" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>CPF</label>
            <input type="number" id="inputEntradaDados">
        </div>


        <div class="mb-3">
            <label>ENDEREÇO</label>
            <input type="text" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>LOGRADOURO</label>
            <input type="text" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>NUMERO</label>
            <input type="number" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>CEP</label>
            <input type="number" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>BAIRRO</label>
            <input type="text" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>CIDADE</label>
            <input type="text" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>ESTADO</label>
            <input type="text" id="inputEntradaDados">
        </div>

        <div class="mb-3">
            <label>NÚMERO CELULAR</label>
            <input type="number" id="inputEntradaDados" placeholder="(dd) xxxxx-xxxx">
        </div>

        <div class="mb-3">
            <label>NÚMERO DO FIXO</label>
            <input type="number" id="inputEntradaDados" placeholder="(dd) xxxxx-xxxx">
        </div>

        <div id="divBtn">
            <button type="button" id="btnCadastrar"><strong>Cadastrar</strong></button>
        </div>
    </form>



</div>

