
@{
    ViewData["Title"] = "Relatorio";
}

<div id="divTopo">

    <img src="../Content/mastertech.png" alt="imagem" width="250">

</div>

<div id="divLocalPage">

    <div id="divLocalPageText">

        <h2> CLIENTES CADASTRADOS </h2>
        <p> <strong> Você está em: </strong> <i>Home</i> >> Clientes Cadastrados </p>


    </div>

    <input type="text" id="inputPesquisa" placeholder="Insira o CPF do cliente para buscar"> <button><strong>Buscar</strong></button>

</div>


<div id="divTable">


    <table>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>1</td>
            <td>ANDERSON JOSÉ DO NASCIMENTO</td>
            <td>
                <button id="btnAlterar"></button><button id="btnExcluir"></button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>KAMILLY VITÓRIA DOS SANTOS MIRANDA</td>
            <td>
                <button id="btnAlterar"></button><button id="btnExcluir"></button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>JAMES NAZARÉ CALDEIRA</td>
            <td>
                <button id="btnAlterar"></button><button id="btnExcluir"></button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>KLÍSTENES DE LIMA LEITE</td>
            <td>
                <button id="btnAlterar"></button><button id="btnExcluir"></button>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>MARCIO COSTA DE OLIVEIRA</td>
            <td>
                <button id="btnAlterar"></button><button id="btnExcluir"></button>
            </td>
        </tr>
    </table>

</div>

